# Soal Tugas Array

In [24]:
import pandas as pd

# Membuat DataFrame
data = {'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
       'Kelas':['2A','2B','2C','2D','2E','2F','2G'], 
       'Gender':['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok',],
       'Nomor_Hp':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(data)
print(df)

  Nama Kelas Gender     Nomor_Hp
0  Ana    2A  Cewek  08113322582
1  Anu    2B  Cowok  08129988563
2  Ano    2C  Cowok  08137896541
3  Ani    2D  Cewek  08144447789
4  Ane    2E  Cewek  08158886665
5  Abu    2F  Cowok  08173337744
6  Abi    2G  Cowok  08198877444

# Jawaban Nomor 1

In [17]:
import pandas as pd

# Membuat DataFrame
data = {'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
       'Kelas':['2A','2B','2C','2D','2E','2F','2G'], 
       'Gender':['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok'],
       'Nomor_Hp':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(data)

# Menambahkan kolom baru
df['Domisili'] = ['Pekanbaru','Luar kota','Pekanbaru','Pekanbaru','Luar kota','Luar kota','Pekanbaru']
print("DataFrame setelah menambahkan kolom 'Domisili':")
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Domisili':
  Nama Kelas Gender     Nomor_Hp   Domisili
0  Ana    2A  Cewek  08113322582  Pekanbaru
1  Anu    2B  Cowok  08129988563  Luar kota
2  Ano    2C  Cowok  08137896541  Pekanbaru
3  Ani    2D  Cewek  08144447789  Pekanbaru
4  Ane    2E  Cewek  08158886665  Luar kota
5  Abu    2F  Cowok  08173337744  Luar kota
6  Abi    2G  Cowok  08198877444  Pekanbaru

# Jawaban Nomor 2

In [1]:
import pandas as pd

# Membuat DataFrame
data = {'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
       'Kelas':['2A','2B','2C','2D','2E','2F','2G'], 
       'Gender':['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok',],
       'Nomor_Hp':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(data)

# Menghapus kolom 'Nomor_Hp'
df = df.drop(columns=['Nomor_Hp'])
print("DataFrame setelah menghapus kolom 'Nomor_HP':")
print(df)
print("\n")

DataFrame setelah menghapus kolom 'Nomor_HP':
  Nama Kelas Gender
0  Ana    2A  Cewek
1  Anu    2B  Cowok
2  Ano    2C  Cowok
3  Ani    2D  Cewek
4  Ane    2E  Cewek
5  Abu    2F  Cowok
6  Abi    2G  Cowok

# Jawaban Nomor 3

In [25]:
import pandas as pd

# Membuat DataFrame
data = {'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
       'Kelas':['2A','2B','2C','2D','2E','2F','2G'], 
       'Gender':['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok',],
       'Nomor_Hp':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444']}

df = pd.DataFrame(data)

# Menambahkan kolom baru
df['Usia'] = ['18','17','19','19','20','22','18']
print("DataFrame setelah menambahkan kolom 'Usia':")
print(df)
print("\n")

DataFrame setelah menambahkan kolom 'Usia':
  Nama Kelas Gender     Nomor_Hp Usia
0  Ana    2A  Cewek  08113322582   18
1  Anu    2B  Cowok  08129988563   17
2  Ano    2C  Cowok  08137896541   19
3  Ani    2D  Cewek  08144447789   19
4  Ane    2E  Cewek  08158886665   20
5  Abu    2F  Cowok  08173337744   22
6  Abi    2G  Cowok  08198877444   18

# Jawaban Nomor 4

In [49]:
import pandas as pd

# Membuat DataFrame
data = {'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
       'Kelas':['2A','2B','2C','2D','2E','2F','2G'], 
       'Gender':['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok',],
       'Nomor_Hp':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
       'Usia':['18','17','19','19','20','22','18']}

df = pd.DataFrame(data)

# Menghitung rata-rata usia
df['Usia'] = pd.to_numeric(df['Usia'])
rata_usia = df['Usia'].mean()
jumlah_usia = df['Usia'].sum()

print("Rata-rata Usia:", rata_usia)
print("Total Usia:", jumlah_usia)
print("\n")

Rata-rata Usia: 19.0
Total Usia: 133

# Jawaban Nomor 5

In [43]:
import pandas as pd

# Membuat DataFrame
data = {'Nama':['Ana','Anu','Ano','Ani','Ane','Abu','Abi'],
       'Kelas':['2A','2B','2C','2D','2E','2F','2G'], 
       'Gender':['Cewek','Cowok','Cowok','Cewek','Cewek','Cowok','Cowok',],
       'Nomor_Hp':['08113322582','08129988563','08137896541','08144447789','08158886665','08173337744','08198877444'],
       'Domisili':['Pekanbaru','Luar kota','Pekanbaru','Pekanbaru','Luar kota','Luar kota','Pekanbaru']}

df = pd.DataFrame(data)

# Menghitung jumlah asal orang dari setiap kota
jumlah_per_kota = df['Domisili'].value_counts()
jumlah_domisili = jumlah_per_kota['Pekanbaru']
jumlah_luar_kota = jumlah_per_kota['Luar kota']

print("Jumlah orang per kota:")
print(f"Jumlah domisili Pekanbaru : {jumlah_domisili}")
print(f"Jumlah domisili Luar Kota : {jumlah_luar_kota}")

Jumlah orang per kota:
Jumlah domisili Pekanbaru : 4
Jumlah domisili Luar Kota : 3